  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Criando Episódio</h1>
            <span class="subheading">Beta</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<%= render 'form', episode: @episode %>

<%= link_to 'Back', episodes_path %>
