  <!-- Page Header -->
  <header class="masthead" style="background-image: url(<%= asset_path 'post-bg.jpg' %>)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Editando Episódio</h1>
            <span class="subheading">Beta</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  	<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= render 'form', episode: @episode %>
        </div>
      </div>
    </div>